ENV_NAME=dev
LOOKUP_DOMAIN=glivedev.xyz
GATEWAY_SERVER=http://10.0.2.2:8082
GOOGLE_CLIENT_ID=797482449852-69uglt5a8if99dhhonsc6utdnrhb0m3g.apps.googleusercontent.com
STORAGE_SERVER=http://10.0.2.2:9000
SUPPORT_EMAIL=support@glive.com
APPLE_CLIENT_ID=com.hita.glive.idol
APPLE_CALLBACK_URI=https://idol.glivedev.xyz/auth/callbacks/sign_in_with_apple
CRYPTO_NETWORK=MAINNET
OTP_FROM_ADDRESS=