<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>797482449852-fd0464ncanjds1rfk6q4k29nnmos7pr3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.797482449852-fd0464ncanjds1rfk6q4k29nnmos7pr3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>797482449852-13v8021kp258higqt9qkccu5abv0ukda.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAX88phifLQ8VHT9CbW-8SQ6qVWzS2Ik2A</string>
	<key>GCM_SENDER_ID</key>
	<string>797482449852</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hita.gliveIdol</string>
	<key>PROJECT_ID</key>
	<string>streaming-flatform</string>
	<key>STORAGE_BUCKET</key>
	<string>streaming-flatform.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:797482449852:ios:6839f1cb96da79373009b9</string>
	<key>DATABASE_URL</key>
	<string>https://streaming-flatform-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>